@media screen and (max-width:1200px) {
    #page-4>p {
        font-size: 24px;
    }

    #page-4 img {
        height: 55px;
    }

    #page-5 h1 {
        font-size: 61px;
        top: 1%;
    }

    #page-5 .elem {
        height: 70%;
        width: 24%;
    }

    .elem h2 {
        font-size: 3vw;
    }

    #foot2 h3,
    #foot3 h3 {
        font-size: 2vw;
        color: #000;
        margin-top: 10px;
    }

    #foot4 p {
        font-size: 1.5vw;
        line-height: 21px;
    }
}

@media screen and (max-width:992px) {
    #nav {
        width: 100vw;
        padding: 0 3vw;
        gap: 7vw;
    }

    #nav h4 {
        font-size: 15px;
    }

    #nav img {
        width: 7.025vw;
    }

    #cursor-blur {
        display: none;
    }

    #page2 {
        min-height: 60vh;
    }

    #about-us img {
        height: 180px;
        width: 180px;
    }

    #about-us-in h3 {
        font-size: 38px;
        margin-bottom: 20px;
    }

    #about-us-in p {
        font-size: 12px;
        line-height: 14px;
    }

    #page-4>p {
        font-size: 21px;
    }

    #page-4 img {
        height: 50px;
    }

    #page-4 #quote-right {
        right: 18%;
        bottom: 26.5%;
    }

    #page-5 h1 {
        font-size: 6vw;
        top: 2.8%;
    }

    .elem h2 {
        font-size: 3vw;
    }
}

@media screen and (max-width:768px) {
    #nav {
        width: 100vw;
        padding: 0 3vw;
        gap: 3vw;
    }

    #nav h4 {
        font-size: 11px;
    }

    #nav img {
        width: 10.025vw;
    }

    #page1 #arrow {
        height: 117px;
        width: 117px;
    }

    #page1 h2 {
        font-size: 2.5vw;
    }

    #page1 p {
        font-size: 1.5vw;
        width: 68%;
    }

    #scroller-wrapper h4 {
        font-size: 11vw;
    }

    #about-us {
        flex-direction: column;
        height: auto;
    }

    #about-us-in {
        width: 70%;
        margin: 20px 0;
    }

    #about-us img {
        width: 55vw;
        height: 50vw;
    }

    #about-us-in h3 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    #about-us-in p {
        font-size: 17px;
        line-height: 23px;
    }

    #page-4 #quote-left {
        left: 12%;
        top: 20%;
    }

    #page-4 #quote-right {
        right: 20%;
        bottom: 18.5%;
    }

    #page-4>p {
        font-size: 22px;
    }

    #page-5 {
        height: 100%;
        gap: 20px;
        flex-direction: column;
        padding: 15px 0;
    }

    #page-5 h1 {
        font-size: 6vw;
        top: -3.2%;
    }

    #page-5 .elem {
        height: 100%;
        width: 50%;
    }

    .elem h2 {
        font-size: 4vw;
    }

    #foot1 img {
        width: 100px;
    }

}

@media screen and (max-width:576px) {
    #nav img {
        width: 55px;
    }

    #nav h4 {
        display: none;
    }

    #page1 #arrow {
        height: 60px;
        width: 60px;
    }

    #page1 h1 {
        margin: 1px 0;
        font-size: 9vw;
    }

    #page1 h2 {
        font-size: 3vw;
    }

    #page1 p {
        font-size: 1.75vw;
        width: 72%;
    }

    #scroller-wrapper h4 {
        font-size: 15vw;
    }

    #about-us-in {
        width: 80%;
        margin: 20px 0;
    }

    #about-us img {
        width: 70vw;
        height: 70vw;
    }

    #about-us-in h3 {
        font-size: 40px;
        margin-bottom: 5px;
    }

    #about-us-in p {
        font-size: 14px;
        line-height: 20px;
    }

    #cards-container {
        flex-direction: column;
        height: 100vh;
        margin: 50px 0;
    }

    .cards {
        width: 70%;
        height: 28%;
    }

    .overlay {
        padding-top: 40px;
    }

    .overlay h4 {
        color: #000;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .overlay p {
        font-size: 18px;
    }

    #page-3 h4 {
        width: 65%;
        font-size: 17px;
        line-height: 34px;
    }

    #page-4>p {
        font-size: 20px;
    }

    #page-4 #quote-left {
        left: 8%;
        top: 15%;
    }

    #page-4 #quote-right {
        right: 16%;
        bottom: 17.5%;
    }

    #page-4 img {
        height: 42px;
    }

    #foot4 p {
        font-size: 9px;
        line-height: 13px;
        width: 91px;
    }

    #foot1 img {
        width: 80px;
    }

}

@media screen and (max-width: 385px) {

    #page-4>p {
        font-size: 15px;
    }

    #page-4 img {
        height: 35px;
    }

    #page-4 #quote-right {
        right: 22%;
        bottom: 23.5%;
    }

    #page-4 #quote-left {
        left: 8%;
        top: 22%;
    }

    #foot4 p {
        font-size: 7px;
        line-height: 13px;
        width: 91px;
    }

    #foot1 img {
        width: 64px;
    }
}